### `apply()`

##### Example 1

In [1]:
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

In [13]:
df

   A  B
0  1  4
1  2  5
2  3  6

Apply function `func_sum` to all elements along axis 0

In [14]:
func_sum = np.sum

In [15]:
df.apply(func=func_sum, axis=0)

A     6
B    15
dtype: int64

##### Example 2

In [16]:
kids = pd.DataFrame({
    'name': pd.Series(['alice', 'mary', 'jimmy', 'johnny', 'susan'], dtype="string"),
    'age': [9, 13, 11, 15, 8],
    'with_adult': [True, False, False, True, True]
})

In [17]:
kids

     name  age  with_adult
0   alice    9        True
1    mary   13       False
2   jimmy   11       False
3  johnny   15        True
4   susan    8        True

In [29]:
def is_allowed(kids_series):
    return kids_series['age'] >= 10 and kids_series['with_adult']

In [30]:
kids.apply(is_allowed, axis=1)

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [20]:
row_0 = kids.iloc[0]

In [21]:
row_0

name          alice
age               9
with_adult     True
Name: 0, dtype: object