###

In [ ]:
import pandas as pd

In [ ]:
new_dict = [
    {'name': 'Olga', 'age': 12},
    {'name': 'Andrew', 'age': 29},
    {'name': 'Nicole', 'age': 15},   
]

In [ ]:
df = pd.DataFrame(new_dict)

In [ ]:
df

     name  age
0    Olga   12
1  Andrew   29
2  Nicole   15

Get the name of the `2nd` column

In [ ]:
df.columns[1]

'age'

In [ ]:
df

     name  age
0    Olga   12
1  Andrew   29
2  Nicole   15

Set column `name` be index

In [ ]:
df.set_index('name')

        age
name
Olga     12
Andrew   29
Nicole   15

In [ ]:
df.loc['Olga']

KeyError: 'Olga'