### `.groupby()`

In [ ]:
import pandas as pd

In [ ]:
file_url = 'https://raw.githubusercontent.com/misraturp/Pandas-groupby-tutorial/main/NYC_Jobs.csv'

In [ ]:
file_url

'https://raw.githubusercontent.com/misraturp/Pandas-groupby-tutorial/main/NYC_Jobs.csv'

In [ ]:
df = pd.read_csv(file_url, usecols=(0, 1, 2, 5))

In [ ]:
df.head(2)

,Job ID,Civil Service Title,Agency,Salary Range From
0,424339,PUBLIC HEALTH NURSE,DEPT OF HEALTH/MENTAL HYGIENE,84252.0
1,379094,CERT IT DEVELOPER (APP),NYC EMPLOYEES RETIREMENT SYS,82884.0

In [ ]:
Group each s

SyntaxError: invalid syntax (4214428676.py, line 1)

In [ ]:
df.groupby('Agency').mean().head()

/var/folders/qg/0sfc2v8d71jcfr2mk24wj2w80000gp/T/ipykernel_7997/3294969507.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Agency').mean().head()

                                      Job ID  Salary Range From
Agency
ADMIN FOR CHILDREN'S SVCS      460844.450000       59864.200000
ADMIN TRIALS AND HEARINGS      514536.625000       63196.562500
BOARD OF CORRECTION            527087.666667      108033.333333
BOROUGH PRESIDENT-QUEENS       527260.000000       51860.500000
BUSINESS INTEGRITY COMMISSION  413144.777778       67923.222222