In [18]:
import pandas as pd

In [19]:
data = [[50, True], [40, False], [30, False]]
label_rows = ["Sally", "Mary", "John"]
label_cols = ["age", "qualified"]

In [27]:
df = pd.DataFrame(data, label_rows, label_cols)

In [28]:
df

       age  qualified
Sally   50       True
Mary    40      False
John    30      False

Output and Explain

In [29]:
df.loc[:, "age"]

Sally    50
Mary     40
John     30
Name: age, dtype: int64

**Explain**

`:` means select all rows

`age` means select only column `age`

So by comebines them. It returns all the rows that have column `age`