### `.groupby()`

In [ ]:
import pandas as pd

In [ ]:
file_url = 'https://raw.githubusercontent.com/misraturp/Pandas-groupby-tutorial/main/NYC_Jobs.csv'

In [ ]:
file_url

'https://raw.githubusercontent.com/misraturp/Pandas-groupby-tutorial/main/NYC_Jobs.csv'

In [ ]:
df = pd.read_csv(file_url, usecols=(0, 1, 2, 3, 4, 5))

In [ ]:
df.head(2)

,Job ID,Civil Service Title,Agency,Posting Type,Job Category,Salary Range From
0,424339,PUBLIC HEALTH NURSE,DEPT OF HEALTH/MENTAL HYGIENE,External,Health,84252.0
1,379094,CERT IT DEVELOPER (APP),NYC EMPLOYEES RETIREMENT SYS,External,NaN,82884.0

In [ ]:
Group each s

In [ ]:
df.groupby('Agency')